name: terraform-multi

on:
  workflow_call:
    inputs:
      environment:      { type: string,  required: true }
      tfvars_file:      { type: string,  required: true }
      rgname:           { type: string,  required: true }
      saname:           { type: string,  required: true }
      scname:           { type: string,  required: true }
      key:              { type: string,  required: true }

      runInit:          { type: boolean, default: false }
      runPlan:          { type: boolean, default: false }
      runApply:         { type: boolean, default: false }
      runDestroy:       { type: boolean, default: false }

      useEnvironmentInit:    { type: boolean, default: false }
      useEnvironmentPlan:    { type: boolean, default: false }
      useEnvironmentApply:   { type: boolean, default: false }
      useEnvironmentDestroy: { type: boolean, default: false }

    secrets:
      AZURE_CLIENT_ID:       { required: true }
      AZURE_TENANT_ID:       { required: true }
      AZURE_SUBSCRIPTION_ID: { required: true }

permissions:
  id-token: write
  contents: read

env:
  WORKDIR: infra

jobs:
  # 1️⃣ INIT + FMT + VALIDATE
  init:
    if: ${{ inputs.runInit }}
    runs-on: self-hosted
    environment: ${{ inputs.useEnvironmentInit && inputs.environment || '' }}
    defaults:
      run:
        working-directory: ${{ env.WORKDIR }}
    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
      - name: Terraform Init
        run: terraform init -input=false -backend-config="resource_group_name=${{ inputs.rgname }}" -backend-config="storage_account_name=${{ inputs.saname }}" -backend-config="container_name=${{ inputs.scname }}" -backend-config="key=${{ inputs.key }}"

      - run: terraform fmt -recursive
      - run: terraform validate


  # 2️⃣ PLAN
  plan:
    name: Terraform Plan
    needs: [init]
    if: ${{ inputs.runPlan && (needs.init.result == 'success' || !inputs.runInit) }}
    runs-on: self-hosted
    environment: ${{ inputs.useEnvironmentPlan && inputs.environment || '' }}

    defaults:
      run:
        working-directory: ${{ env.WORKDIR }}
    steps:
      - uses: actions/checkout@v4


      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Terraform Init
        run: terraform init -input=false -backend-config="resource_group_name=${{ inputs.rgname }}" -backend-config="storage_account_name=${{ inputs.saname }}" -backend-config="container_name=${{ inputs.scname }}" -backend-config="key=${{ inputs.key }}"


      - name: Terraform Plan
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        run: terraform plan -var-file="../environments/prod.tfvars" -out="tf-plan-${{ inputs.environment }}.tfplan"

      - name: Upload plan
        uses: actions/upload-artifact@v4
        with:
          name: tf-plan-${{ inputs.environment }}.tfplan
          path: infra/tf-plan-${{ inputs.environment }}.tfplan

            

  # 3️⃣ APPLY
  apply:
    needs: [plan]
    if: ${{ inputs.runApply && needs.plan.result == 'success' }}
    runs-on: self-hosted
    environment: ${{ inputs.useEnvironmentApply && inputs.environment || '' }}
    defaults:
      run:
        working-directory: ${{ env.WORKDIR }}
    steps:

      - uses: actions/checkout@v4

      
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  
      - name: Download plan
        uses: actions/download-artifact@v4
        with:
          name: tf-plan-${{ inputs.environment }}.tfplan
          path: infra


      - name: Terraform Init
        run: terraform init -input=false -backend-config="resource_group_name=${{ inputs.rgname }}" -backend-config="storage_account_name=${{ inputs.saname }}" -backend-config="container_name=${{ inputs.scname }}" -backend-config="key=${{ inputs.key }}"

      
      - name: Terraform Apply
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        if: ${{ inputs.require_approval || github.event_name == 'push' }}
        run: terraform apply -auto-approve "tf-plan-${{ inputs.environment }}.tfplan"


  # # 4️⃣ DESTROY
  # destroy:
  #   needs: [apply]
  #   if: ${{ inputs.runDestroy && needs.apply.result == 'success' }}
  #   runs-on: self-hosted
  #   environment: ${{ inputs.useEnvironmentDestroy && inputs.environment || '' }}
  #   defaults:
  #     run:
  #       working-directory: ${{ env.WORKDIR }}
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: azure/login@v2
  #       with:
  #         client-id: ${{ secrets.AZURE_CLIENT_ID }}
  #         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
  #         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  #     - name: Terraform Init
  #       run: terraform init -input=false -backend-config="resource_group_name=${{ inputs.rgname }}" -backend-config="storage_account_name=${{ inputs.saname }}" -backend-config="container_name=${{ inputs.scname }}" -backend-config="key=${{ inputs.key }}"
      
  #     - name: Terraform Destroy
  #       run: terraform destroy -auto-approve -var-file="../${{ inputs.tfvars_file }}"







  # 4️⃣ DESTROY
  destroy:
    # needs: [apply]
    # needs: [init, plan, apply]
    # if: ${{ inputs.runDestroy && needs.apply.result == 'success' }}

    if: ${{ inputs.runDestroy }}
    runs-on: self-hosted
    environment: ${{ inputs.useEnvironmentDestroy && inputs.environment || '' }}
    defaults:
      run:
        working-directory: ${{ env.WORKDIR }}
    
    
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform Init
        run: terraform init -input=false -backend-config="resource_group_name=${{ inputs.rgname }}" -backend-config="storage_account_name=${{ inputs.saname }}" -backend-config="container_name=${{ inputs.scname }}" -backend-config="key=${{ inputs.key }}"
      
      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var-file="../${{ inputs.tfvars_file }}"